

<!DOCTYPE html>
<html>
<head>
    <title>Центр ИКТ - современные системы учета спирта и алкогольной продукции</title>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/Content/front-content/js/jquery.min.js"></script>

    <link href="/Content/front-content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/Content/front-content/js/bootstrap.min.js"></script>
    <link href="/Content/front-content/css/style.css" rel="stylesheet" type="text/css">

    <script src="/Content/kendo/kendo.all.min.js"></script>
    
    <link href="/Content/img/favicon.ico" rel="SHORTCUT ICON" type="img/favicon.ico" />
    
    
    <script src="/Content/front-content/js/owl.carousel.js"></script>
    <link href="/Content/front-content/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/Content/validation.css"/>

    <link rel="stylesheet" href="/Content/front-content/css/banner/banner.css"/>



    <link href="/Content/front-content/css/fallingsnow.css" rel="stylesheet" type="text/css">
    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
    <script src="/Content/front-content/js/ny2017.js"></script>    
    <script src="/Content/front-content/js/ny2017In.js"></script>

    
    <script type="text/javascript" src="/Content/bootstrap.data-picker/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/Content/bootstrap.data-picker/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/Content/bootstrap.data-picker/css/bootstrap-datetimepicker.min.css" />


    
    <script src="/Scripts/linq-js/jquery.linq-vsdoc.js"></script>
    <script src="/Scripts/linq-js/jquery.linq.js"></script>
    <script src="/Scripts/linq-js/jquery.linq.min.js"></script>
    <script src="/Scripts/linq-js/linq-vsdoc.js"></script>
    <script src="/Scripts/linq-js/linq.js"></script>

    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter31951491 = new Ya.Metrika({
                        id: 31951491,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    
    <script src="/Content/front-content/js/jquery.scrollUp.min.js"></script>
    <script>
        $(function() {
            $.scrollUp();
        });
    </script>    
</head>
    <body onload="init();" ng-app="myApp" ng-controller="userBasketController" ng-cloak>

    <div id="snowflakeContainer">
        <p class="snowflake"><img src="/Content/front-content/css/img/ny2017_flake.png" width="14" height="14" alt=""/>
        </p>
    </div>

    <nav class="main-menu">
        <a href="/News">Новости</a>
        <span class="submenu_item">
            <a href="#" class="menu_item">Услуги и решения</a>
            

<div class="submenu">
    <div class="container">
        <div class="row">
                
                <div class="col-md-4">
                    <h3>Решения</h3>
                    
                                <a href="/Sections/Details/9" data-id="9">Комплексы измерительные автоматизированного учета алкогольной продукции &#160;&#171;ALCOSPOT&#187; АСИиУ </a>
                                <a href="/Sections/Details/25" data-id="25">Автоматизированная система сверки деклараций</a>
                                <a href="/Sections/Details/26" data-id="26">Декларант АлкоПлюс</a>
                                <a href="/Sections/Details/27" data-id="27">Электронный журнал учета розничного оборота алкогольной продукции </a>
                            <a href="https://egais.alcospot.ru/Account/Login?ReturnUrl=%2f" data-id="28">ПО для комплекса ЕГАИС-розница</a>
                                <a href="/Sections/Details/30" data-id="30">Система мониторинга сохранности перевозимых автотранспортом жидкостей</a>
                </div>
                <div class="col-md-4">
                    <h3>Оборудование</h3>
                    
                                <a href="/Products/Categories/1">Оборудование для перевозки спирта</a>
                                <a href="/Products/Categories/3">Оборудование для ЕГАИС</a>
                                <a href="/Products/Categories/2">Проверка легальности ФСМ и АМ</a>
                                <a href="/Products/Categories/4">Оборудование для производителей этилового спирта и алкогольной продукции</a>
                                <a href="/Products/Categories/9">Готовые решения для ЕГАИС от компании Дримкас</a>
                                <a href="/Products/Categories/10">Оборудование для ЕГАИС от компании Атол</a>
                                <a href="/Products/Categories/7">Комплектующие для ЕГАИС</a>
                </div>
                <div class="col-md-4">
                    <h3>Услуги и сервисы</h3>
                    
                                <a href="/Sections/Details/35" data-id="35">Сопровождение и техническая поддержка ЕГАИС</a>
                                <a href="/Sections/Details/36" data-id="36">Техническое обслуживание оборудования</a>
                                <a href="/Sections/Details/37" data-id="37">Консультации участников алкогольного рынка</a>
                                <a href="/Sections/Details/39" data-id="39">Выдача КЭП и JaCarta</a>
                                <a href="https://egais.alcospot.ru/Account/Login?ReturnUrl=%2f" data-id="58">ЕГАИС-Розница</a>
                </div>

              
        </div>
    </div>
</div>

        </span>
        <a href="/Files">Центр загрузки</a>
        <a href="/About">О компании</a>
        <a href="/Contacts">Контакты</a>
    </nav>

    

    <script>
        $(function () {
            $("nav.main-menu > a[href='/']").addClass("navactive");
        });
    </script>



    <div class="head_line"><div class="head_cont">#</div></div>
    <div class="head">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4" style="text-align:left;">
                    
                    <div class="logo_pic">
                        <a href="/">
                            <img src="/Content/front-content/css/img/logoNY.png" class="logo">
                        </a>
                    </div>


                    


                    <div class="logo_html">
                        <a href="/">
                            <div id="animation_container" style="width:337px; height:111px">
                               	<canvas id="canvas" width="332" height="119" style="position: absolute; display: block;"></canvas>
                               	<div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:332px; height:119px; position: absolute; left: 0px; top: 0px; display: block;">                               
                                </div>                                
                            </div>                            
                        </a>                        
                    </div>
                </div>
                <div class="col-md-8 col-lg-8">
                    <div class="head_cont">
                        <span class="contacts_up"><span style="color:#7AD9FF;">+7 (499)</span> 653-61-43 <a href="mailto:info@centrikt.ru" style="margin-left:20px;">info@centrikt.ru</a></span>
                        <a href="/Account/Login" class="login">Вход</a>
                    </div>


                </div>
            </div>
        </div>

    </div>













<div class="ind_pic">
    <div class="container">
        <div class="ind_pic_text">
            <strong>СОВРЕМЕННЫЕ</strong><br>ТЕХНОЛОГИИ <br> УЧЁТА ЖИДКОСТЕЙ
        </div>
        
            <div class="index_new">
                <a href="/News/Details/57" class="index_news_text">
                    Минюстом зарегистрирован приказ № 74 от  24 марта 2015 г.
                </a>
            </div>
    </div>
</div>


<div class="banner1_cont">
    <div class="container">
        <a href="/Products/Sale" class="banner_rasprodaja_oborud">
            <div class="banner_rasprodaja_oborud_p1"><img src="/Content/front-content/css/banner/p1.png" /></div>
            <div class="banner_rasprodaja_oborud_p2"><img src="/Content/front-content/css/banner/p2.png" /></div>
            <div class="banner_rasprodaja_oborud_p3"><img src="/Content/front-content/css/banner/p3.png" /></div>
            <div class="banner_rasprodaja_oborud_p4"><img src="/Content/front-content/css/banner/p4.png" /></div>
            <div class="arrow_l"><img src="/Content/front-content/css/banner/arrow_l.png" /></div>
            <div class="arrow_r"><img src="/Content/front-content/css/banner/arrow_r.png" /></div>
            <div class="banner_rasprodaja_oborud_text">Распродажа оборудования</div>
        </a>
    </div>
</div>





    <div class="ind_block_section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ind_h2">Решения</h2>
                </div>
            </div>
            <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <div class="ind_block">
                                


                                <a href="/Sections/Details/9">
                                    <img src="/Sections/Image/9" />
                                    <img src="/Sections/ImageHover/9" class="ind_block_act" />
                                    <div>
                                        Комплексы измерительные автоматизированного учета алкогольной продукции &#160;&#171;ALCOSPOT&#187; АСИиУ 
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="ind_block">
                                


                                <a href="/Sections/Details/25">
                                    <img src="/Sections/Image/25" />
                                    <img src="/Sections/ImageHover/25" class="ind_block_act" />
                                    <div>
                                        Автоматизированная система сверки деклараций
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="ind_block">
                                


                                <a href="/Sections/Details/26">
                                    <img src="/Sections/Image/26" />
                                    <img src="/Sections/ImageHover/26" class="ind_block_act" />
                                    <div>
                                        Декларант АлкоПлюс
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="ind_block">
                                


                                <a href="/Sections/Details/27">
                                    <img src="/Sections/Image/27" />
                                    <img src="/Sections/ImageHover/27" class="ind_block_act" />
                                    <div>
                                        Электронный журнал учета розничного оборота алкогольной продукции 
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="ind_block">
                                


                                <a href="https://egais.alcospot.ru/Account/Login?ReturnUrl=%2f">
                                    <img src="/Sections/Image/28" />
                                    <img src="/Sections/ImageHover/28" class="ind_block_act" />
                                    <div>
                                        ПО для комплекса ЕГАИС-розница
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="ind_block">
                                


                                <a href="/Sections/Details/30">
                                    <img src="/Sections/Image/30" />
                                    <img src="/Sections/ImageHover/30" class="ind_block_act" />
                                    <div>
                                        Система мониторинга сохранности перевозимых автотранспортом жидкостей
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>

        </div>
    </div>
    <div class="ind_block_section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ind_h2">Оборудование</h2>
                </div>
            </div>
            <div class="row">
                            <div class="col-md-6">
                                <a href="/Products/Categories/1" class="ind_block_oborud"
                                   style="background-image: url('/ProductCategories/Image/1')">
                                    <img src="/ProductCategories/ImageHover/1" class="ind_block_oborud_a" />
                                    <p>Оборудование для перевозки спирта</p>
                                </a>                               
                            </div>
                            <div class="col-md-6">
                                <a href="/Products/Categories/3" class="ind_block_oborud"
                                   style="background-image: url('/ProductCategories/Image/3')">
                                    <img src="/ProductCategories/ImageHover/3" class="ind_block_oborud_a" />
                                    <p>Оборудование для ЕГАИС</p>
                                </a>                               
                            </div>
                            <div class="col-md-6">
                                <a href="/Products/Categories/2" class="ind_block_oborud"
                                   style="background-image: url('/ProductCategories/Image/2')">
                                    <img src="/ProductCategories/ImageHover/2" class="ind_block_oborud_a" />
                                    <p>Проверка легальности ФСМ и АМ</p>
                                </a>                               
                            </div>
                            <div class="col-md-6">
                                <a href="/Products/Categories/4" class="ind_block_oborud"
                                   style="background-image: url('/ProductCategories/Image/4')">
                                    <img src="/ProductCategories/ImageHover/4" class="ind_block_oborud_a" />
                                    <p>Оборудование для производителей этилового спирта и алкогольной продукции</p>
                                </a>                               
                            </div>
            </div>

        </div>
    </div>
    <div class="ind_block_uslugi">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ind_h2">Услуги и сервисы</h2>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="ind_block_uslugi_links">
                                    <a href="/Sections/Details/35">Сопровождение и техническая поддержка ЕГАИС</a>
                                    <a href="/Sections/Details/36">Техническое обслуживание оборудования</a>
                                    <a href="/Sections/Details/37">Консультации участников алкогольного рынка</a>
                                    <a href="/Sections/Details/39">Выдача КЭП и JaCarta</a>
                                    <a href="https://egais.alcospot.ru/Account/Login?ReturnUrl=%2f">ЕГАИС-Розница</a>
                        
                        </div>
                    </div>
            </div>

        </div>
    </div>

<style>
    .ind_block_uslugi_links > a:last-child {
        border-bottom:none;
    }
</style>


       
    <div class="block_news">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ind_h2">Новости</h2>
                    <div class="owl-carousel">
                        
                            <div class="item block_news1">
                                <span>15.07.2015</span>
                                <a href="/News/Details/57" class="news_cont">
                                    <p>Минюстом зарегистрирован приказ № 74 от  24 марта 2015 г.</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>16.02.2015</span>
                                <a href="/News/Details/56" class="news_cont">
                                    <p>АСИиУ для пива</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>03.12.2014</span>
                                <a href="/News/Details/45" class="news_cont">
                                    <p>Лицензия ФСБ</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>18.04.2014</span>
                                <a href="/News/Details/44" class="news_cont">
                                    <p>Новый АСИиУ</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>06.02.2014</span>
                                <a href="/News/Details/43" class="news_cont">
                                    <p>С 1 января 2014 года больше не нужно оформлять Разрешение Ростехнадзора на применение для оборудования, эксплуатируемого на опасных производственных объектах </p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>03.12.2013</span>
                                <a href="/News/Details/42" class="news_cont">
                                    <p>Помощь в приобретении автоцистерн</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>02.12.2013</span>
                                <a href="/News/Details/40" class="news_cont">
                                    <p>ВНИМАНИЕ ДЕРЖАТЕЛЕЙ ЭЦП!</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>16.10.2013</span>
                                <a href="/News/Details/39" class="news_cont">
                                    <p>Договор на ГЛОНАСС Мониторинг</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>07.09.2013</span>
                                <a href="/News/Details/38" class="news_cont">
                                    <p>Мы начинаем компанию по заключению Договоров на ТО</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>06.09.2013</span>
                                <a href="/News/Details/37" class="news_cont">
                                    <p>Росалкоголь выложил проект техусловий АСКП</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>04.07.2013</span>
                                <a href="/News/Details/36" class="news_cont">
                                    <p>Автоматическая система сверки алкогольных деклараций</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>01.07.2013</span>
                                <a href="/News/Details/35" class="news_cont">
                                    <p>Вниманию организаций, получивших лицензии</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>01.07.2013</span>
                                <a href="/News/Details/34" class="news_cont">
                                    <p>Так выглядит лицензия на перевозку этилового спирта</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>27.04.2013</span>
                                <a href="/News/Details/33" class="news_cont">
                                    <p>Принимаем заказы на изготовление автоцистерн для перевозки спирта</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>19.04.2013</span>
                                <a href="/News/Details/32" class="news_cont">
                                    <p>Мы в АСКП Росалкогольрегулирования!</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>15.04.2013</span>
                                <a href="/News/Details/31" class="news_cont">
                                    <p>О поверке средств измерения</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>04.04.2013</span>
                                <a href="/News/Details/30" class="news_cont">
                                    <p>Нами внедрена Автоматизированная система сверки алкогольных деклараций </p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>12.03.2013</span>
                                <a href="/News/Details/29" class="news_cont">
                                    <p>Договора на пуско-наладочные работы</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>14.01.2013</span>
                                <a href="/News/Details/27" class="news_cont">
                                    <p>Центр ИКТ приступил к реализации предустановленных терминалов сбора информации с ФСМ</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>14.01.2013</span>
                                <a href="/News/Details/26" class="news_cont">
                                    <p>Компания ООО Центр ИКТ приступила к оснащению первых автоцистерн системами контроля перевозок этилового спирта на территории РФ и системами учета объемов.</p>
                                </a>
                            </div>                                
                            <div class="item block_news1">
                                <span>01.12.2012</span>
                                <a href="/News/Details/25" class="news_cont">
                                    <p>Начались отгрузки оборудования</p>
                                </a>
                            </div>                                

                    </div>
                    <br>
                    <div class="col-xs-12"><a href="/News"><strong>Все новости</strong></a></div>
                </div>
            </div>

        </div>
    </div>



    <div class="footer">
        <div style="position:absolute; right:0; bottom:0"><img src="/Content/front-content/css/img/ny2017_foot.png" width="275" height="181" alt="" /></div>
        <div class="foot_cont">
            <div class="container">
                <span class="contacts_foot"><span style="color: #7AD9FF;">+7 (499)</span> 653-61-43 <a href="mailto:info@centrikt.ru" style="margin-left: 20px;">info@centrikt.ru</a></span>
            </div>
        </div>


        


<div class="container">
    <div class="row">
            <div class="col-md-4">
                <div class="foot_block_links">
                    <div class="foot_block_tit">РЕШЕНИЯ</div>
                                    <a href="/Sections/Details/9">Комплексы измерительные автоматизированного учета алкогольной продукции &#160;&#171;ALCOSPOT&#187; АСИиУ </a>
                                    <a href="/Sections/Details/25">Автоматизированная система сверки деклараций</a>
                                    <a href="/Sections/Details/26">Декларант АлкоПлюс</a>
                                    <a href="/Sections/Details/27">Электронный журнал учета розничного оборота алкогольной продукции </a>
                                <a href="https://egais.alcospot.ru/Account/Login?ReturnUrl=%2f">ПО для комплекса ЕГАИС-розница</a>
                                    <a href="/Sections/Details/30">Система мониторинга сохранности перевозимых автотранспортом жидкостей</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="foot_block_links">
                    <div class="foot_block_tit">ОБОРУДОВАНИЕ</div>
                                    <a href="/Products/Categories/1">Оборудование для перевозки спирта</a>
                                    <a href="/Products/Categories/3">Оборудование для ЕГАИС</a>
                                    <a href="/Products/Categories/2">Проверка легальности ФСМ и АМ</a>
                                    <a href="/Products/Categories/4">Оборудование для производителей этилового спирта и алкогольной продукции</a>
                                    <a href="/Products/Categories/9">Готовые решения для ЕГАИС от компании Дримкас</a>
                                    <a href="/Products/Categories/10">Оборудование для ЕГАИС от компании Атол</a>
                                    <a href="/Products/Categories/7">Комплектующие для ЕГАИС</a>
                </div>
            </div>
        
        <div class="col-md-4">
            <div class="foot_block">
                <div class="foot_block_tit">КОНТАКТЫ</div>
                Адрес для писем:115280, Москва, ул.Автозаводская, 17, корп. 3 офис 11
                <br>
                Адрес:109316, Москва, Остаповский проезд, д. 5, стр.1, подъезд 4, офис 391
                <br>
                Почта: <a href="mailto:info@centrikt.ru">info@centrikt.ru</a> <br>
                Телефон:+7 (499) 653-61-43
            </div>
        </div>
    </div>
</div>


        <div class="copyr">
            <div class="container">© 2012 - 2016 ЦентрИКТ</div>
        </div>
    </div>


    
    
<div id="basket-panel" ng-show="Amount()" class="navbar navbar-default basket-panel">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" style="margin:auto;">
                    <a class="show-basket">
                        <i class="fa fa-shopping-cart"></i>
                        В корзине
                    </a>
                </li>
                <li>
                    <a class="total-count custom-background" style="border-radius: 3px; background: rgb(0, 151, 196);">
                        {{Amount()}}
                    </a>
                </li>
                <li class="dropdown">
                    <a>товаров на сумму</a>
                </li>
                <li>
                    <a>
                        <span class="total-cost">
                            
                            {{TotalPrice() | number:2}}
                        </span>
                        <span>&nbsp;руб</span>
                    </a>
                </li>
                <li>
                    <a class="show-basket custom-background">
                        Перейти в корзину
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>

    
    



  <!-- Корзина -->

<div id="user-basket-window" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <h4 class="modal-title"></h4>

            </div>
            <div class="modal-body">

                <!-- Modal content-->

                <div class="box1">
                    <div class="box1_title"><li><img src="/Content/front-content/css/img/ic_trash.png" width="20" style="margin-right:10px;">Корзина</li></div>

                    <div class="table2">
                        <ul class="table2_title">
                            <li>Наименование</li>
                            <li>Цена</li>
                            <li>Кол-во</li>
                            <li><span style="color:#FF543F;">Удл.</span></li>
                        </ul>

                        <ul ng-repeat="product in products">
                            <li>{{product.Name}}</li>
                            <li><strong>{{product.Price}}</strong> руб</li>
                            <li ng-if="product.ID == 19">
                                <strong>{{product.Amount}}</strong>
                            </li>

                            <li ng-if="product.ID != 19">
                                <!-- input-group -->
                                <div class="qtyall">
                                    <form>
                                        <a ng-click="AddProduct({ID:product.ID, Name:product.Name, Unit:product.Unit, Amount:-1, Price:product.Price, articul:product.Articul}, -1, true)"
                                           class='qtyminus' field='quantity' /></a>

                                        <input type='number' min="0"
                                               ng-change="AddProduct({ID:product.ID, Name:product.Name, Unit:product.Unit, Amount:product.Amount, Price:product.Price, articul:product.Articul}, product.Amount, false)"
                                               name='quantity' ng-model="product.Amount" class="qty" />

                                        <a ng-click="AddProduct({ID:product.ID, Name:product.Name, Unit:product.Unit, Amount:1, Price:product.Price, articul:product.Articul}, 1, true)"
                                           class='qtyplus' field='quantity' /></a>
                                    </form><!-- /input-group -->
                                </div>
                                
                                <div>
                                    
                                </div>
                            </li>
                            <li><a ng-click="RemoveProduct(product.ID)" class="table_but_trash"></a></li>
                        </ul>

                    </div>
                    <div class="trash_foot">
                        <div style="margin-bottom: 12px; margin-top:5px;">В корзине <strong>{{Amount()}}</strong> услуг/товаров на сумму <strong>{{TotalPrice() | number:2}}</strong> руб</div>

                        <div class="note2 note1_suc">Уважаемый клиент! Если вы являетесь индивидуальным предпринимателем, и у вас нет расчетного счета, чтобы заказать услугу, "<strong>Оказание технической и консультационной поддержки в процессе работы ЕГАИС</strong>", вам нужно оплатить <strong><a href="https://centrikt.ru/BillContract/Quittance" target="_blank">квитанцию</a></strong>.</div>

                    </div>
                </div>

                <!-- /Modal content-->


            </div>

            <div class="modal-footer">
                <a ng-click="Order()" class="btn btn-success" style="float:left;">Оформить заказ</a><button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                
                <div ng-if="Errors.NoProducts" class="error-mesage" style="color: red;">
                    Уважаемый клиент! Вы ничего не выбрали. Пожалуйста, выберите продукты и повторите заказ.
                </div>
                
                <div ng-if="Errors.UserIsNotAuthenticated" class="error-message" style="color: red;">
                    Вы не авторизованы. Чтобы сделать заказ, <a href="/Cabinet">авторизуйтесь</a> или
                    <a href="https://centrikt.ru:8001/Account/Register">зарегистрируйтесь</a>
                </div>
                
                
                <div ng-if="Errors.NoSubdivisions" class="error-message" style="color: red;">
                    Уважемый клиент! Чтобы заказать услугу "Сопровождение и техническая поддержка ЕГАИС", 
                    необходимо добавить обособленные подразделения.
                </div>
                
                <div ng-if="Errors.Fail" class='alert alert-danger' style='color: red;'>
                    К сожалению, не удалось заказать товар. Пожалуйста, попробуйте позже или свяжитесь с нашими сотрудниками.
                    Вам обязательно помогут.
                </div>
            </div>
        </div>


    </div>
</div>

<!-- /Корзина -->
        
    
    


<div id="order-formed-window" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button class="close" data-dismiss="modal" area-hidden="true">X</button>

                <h4> Заказ № <span class="order-number">{{FormedOrder.Number}}</span> сформирован. </h4>
            </div>
            <div class="modal-body">
                Уважаемый(ая) <span class="fio">{{FormedOrder.Fio}}</span>! Ваш заказ № <span class="order-number">{{FormedOrder.Number}}</span>
                сформирован. В ближайшее время он будет обработан.
                Вам на почту придет уведомление о подтверждении заказа и ссылка на скачивание документов.
            </div>
            <div class="modal-footer">

                <a class="btn btn-primary close-button">
                    Закрыть
                </a>
                <a class="btn btn-primary" href="/Profile/History">
                    Посмотреть мои заказы
                </a>
            </div>
        </div>
    </div>
</div>

    
    



<div id="create-callback-window" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-sm">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" style="color: white;" area-hidden="true">X</button>
        </div>

        <div class="modal-content">
            <div class="modal-body">

                

<form action="/Callback/Create?Length=8" data-ajax="true" data-ajax-begin="OnCallbackAddBegin" data-ajax-complete="OnCallbackAddComplete" data-ajax-failure="OnCallbackAddFailure" data-ajax-loading="#add-callback-loader" data-ajax-mode="replace" data-ajax-success="OnCallbackAddSuccess" data-ajax-update="#add-callback-form" id="add-callback-form" method="post">    <div class="alert alert-danger hidden" id="add-callback-error-message">
        Не удалось создать заявку. Пожалуйста, попробуйте еще раз или обратитесь к нашим сотрудникам.
        Вам обязательно помогут.
    </div>
    <div class="form-group">
        <label for="Fio">Ваше имя</label>
        <input class="form-control" data-val="true" data-val-required="Необходимо ввести ваше имя" id="Fio" name="Fio" type="text" value="" />
        <p class="field-validation-valid" data-valmsg-for="Fio" data-valmsg-replace="true"></p>
    </div>
    <div class="form-group">
        <label for="Email">Ваша электронная почта</label>
        <input class="form-control" data-val="true" data-val-email="Неверный формат электронной почты" id="Email" name="Email" type="text" value="" />
        <p class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></p>
    </div>
    <div class="form-group">
        <label for="Phone">Ваш телефон для связи</label>
        <input class="form-control" data-val="true" data-val-required="Необходимо ввести ваш телефон" id="Phone" name="Phone" type="text" value="" />
        <p class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></p>
    </div>
    <div class="text-center">
        
            
            
        
        

        <button type="submit" class="btn btn-primary" id="add-callback-button">
            <img src='/Content/img/ajax-loader-blue.gif' id="add-callback-loader" class="hidden" />
            Заказать звонок
        </button>
    </div>
    <script>
        
        function OnCallbackAddBegin() {
            $("#add-callback-error-message").addClass("hidden");

            $("#add-callback-loader").removeClass("hidden");
        }

        function OnCallbackAddSuccess(result) {
            $("#add-callback-loader").addClass("hidden");

            $("#create-callback-window").modal("hide");

            console.log("Заявка создана");

            $("#create-callback-success-window").modal("show");

            $("#create-callback-success-window .modal-body").html(result);
        }
        
        function OnCallbackAddFailure(jqXhr, textStatus, errorThrown) {
            

            console.log("Ajax error: " + jqXhr.status + ": " + errorThrown);

            $("#add-callback-error-message").removeClass("hidden");

            //$('#add-callback-error-message').text(" ");
            //$('#add-callback-error-message').show();
        }

        function OnCallbackAddComplete() {
            $("#add-callback-loader").addClass("hidden");
        }
        //function OnCallbackAddFailure(jqXhr, textStatus, errorThrown) {
        //    console.log("Ajax error: " + jqXhr.status + ": " + errorThrown);
        //    $('#add-callback-error-message').text(jqXhr.status + ": " + errorThrown);
        //    $('#add-callback-error').show();
        //}
    </script>
</form>

            </div>
        </div>
    </div>
</div>



    
    
<div id="create-callback-success-window" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" area-hidden="true">X</button>
                <h2> Заявка создана успешно </h2>
            </div>
            <div class="modal-body">





            </div>

            <div class="modal-footer">


                <a class="btn btn-primary close-button">Закрыть</a>

            </div>
        </div>
    </div>
</div>


    




    <script src="/Scripts/user-basket-panel.js"></script>
    
    <link rel="stylesheet" href="/Content/basket-panel.css" />

    

    
    
    <script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>


    <script src="/Scripts/inputs.js"></script>

    
    <script src="/Content/front-content/js/owl.carousel_setup.js"></script>

    <script src="/Content/front-content/js/fallingsnow_v6.js"></script>

    
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/Angular/Modules/myApp.js"></script>
    <script src="/Scripts/Angular/Services/usersService.js"></script>
    <script src="/Scripts/Angular/Services/subdivisionService.js"></script>
    <script src="/Scripts/Angular/Services/userBasketService.js"></script>
    <script src="/Scripts/Angular/Services/windowsServise.js"></script>
    <script src="/Scripts/Angular/Controllers/userBasketController.js"></script>
      
    <a class="btn custom-btn-bootstrap" id="create-callback" style="transform: rotate(-90deg);z-index: 10000; font-size: 14px; padding: 6px 12px;">
        Заказать обратный звонок
    </a>
        
    <script src="/Scripts/callbacks.js"></script>
    <script src="/Scripts/modal-window.js"></script>
    </body>
</html>
