#snowflakeContainer { width: 100%; height: 545px; overflow: hidden;
    position: absolute;
    left: 0;
    top:0;
    pointer-events: none;
}
.snowflake { 
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    color: #fff;
    user-select: none;
    z-index: 2; 
}
.snowflake:hover {
    cursor: default;
}