body {
  margin: 0 0;
  padding: 0 0;
  font-family: Verdana, Geneva, sans-serif;
  color: #4D4D4D; }

a {
  text-decoration: none;
  border-style: none;
  transition: color 0.3s ease 0s;
  color: #2185C5; }
  a:hover {
    text-decoration: none;
    color: #4db8e5; }
  a:active {
    text-decoration: none; }

.head {
  border-bottom: 1px #c0ddf0 solid;
  height: 120px; }

.head_line {
  position: absolute;
  background-color: #0078C3;
  right: 0;
  width: 50%; }

.head_cont {
  position: relative;
  color: #fff;
  font-size: 19px;
  padding: 10px 15px;
  background-color: #0078C3; }

.logo {
  position: absolute;
  width: 332px;
  height: auto;
  max-width: 332px;
  z-index: 99; }

.contacts_up {
  color: #fff; }
  .contacts_up a {
    color: #fff;
    transition: color 0.3s ease 0s; }
    .contacts_up a:hover {
      color: #FFFFBF; }

.login {
  float: right;
  font-size: 15px;
  color: #fff;
  padding-top: 3px; }
  .login:hover {
    color: #FFFFBF; }
  .login:after {
    content: "\27A7";
    position: absolute;
    top: 2px;
    display: inline-block;
    padding: 13px 0 0 5px; }

.userlog {
  float: right;
  font-size: 15px;
  color: #fff;
  padding-top: 3px;
  margin: 0 12px; }
  .userlog:hover {
    color: #FFFFBF; }

nav {
  position: absolute;
  top: 47px;
  text-align: left;
  width: 1170px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: right;
  z-index: 2;
  padding: 5px 0; }
  nav:hover .submenu {
    display: block; }
  nav a {
    display: inline-block;
    font-size: 16px;
    white-space: nowrap;
    color: #2185C5;
    padding: 10px 20px 10px 20px;
    margin: 10px 4px 0 5px;
    transition: color 0.3s ease 0s; }
    nav a:hover {
      color: #6EC9EF; }
  nav .navactive {
    color: #6EC9EF; }

.adapt_but_label {
  display: none; }

.adapt_but {
  display: none; }

.adapt_but_chek {
  display: none; }

.menu_item {
  background: url(img/item_arrow.png) no-repeat;
  background-position: right 0 top 17px; }
  .menu_item:hover {
    padding-bottom: 50px; }

.submenu {
  display: none;
  top: 73px;
  position: absolute;
  width: 100%;
  background-color: #DCF1FA;
  text-align: left;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden; }
  .submenu a {
    font-size: 15px;
    display: block;
    white-space: pre-wrap;
    padding: 5px 0;
    margin: 5px 0; }
    .submenu a:hover {
      color: #5cbde5; }
  .submenu .container {
    padding: 20px 50px; }
  .submenu h3 {
    font-size: 18px;
    padding: 0;
    margin-bottom: 20px; }

.submenu_item:hover > .submenu {
  max-height: 600px;
  transition: max-height 0.25s ease-in; }

.navtree {
  font-size: 14px;
  border-bottom: 1px #c0ddf0 solid;
  letter-spacing: 0.3px; }
  .navtree a {
    display: inline-block;
    padding: 10px 15px;
    transition: all 0.3s ease 0s;
    color: #2185C5; }
    .navtree a:hover {
      color: #fff;
      background-color: #0078C3; }

.treeitem {
  position: relative;
  display: inline-block; }
  .treeitem:hover {
    background-color: #0078C3; }
    .treeitem:hover a {
      color: #fff; }
  .treeitem:hover > .subtree {
    display: block; }

.tree_act {
  padding: 10px 10px; }

.subtree {
  display: none;
  position: absolute;
  background-color: #0078C3;
  width: 100%;
  z-index: 2;
  min-width: 350px;
  padding-bottom: 5px; }
  .subtree a {
    display: block;
    color: #000;
    width: 100%;
    padding: 6px 15px; }
    .subtree a:hover {
      background-color: #0086D9; }

.subtree_tit {
  font-size: 13px;
  color: #AACDE3;
  font-weight: bold;
  padding: 10px 15px 5px 15px; }

.treearrow {
  display: inline-block;
  width: 5px;
  height: 14px;
  background: url(img/navtree_arrow.png) no-repeat;
  background-position: top 1px right -3px;
  margin: 0 5px; }

.footer {
  background-color: #004B78;
  background: linear-gradient(to top, #004B78, #004066);
  color: #9BBCCF;
  font-size: 12px; }
  .footer h2 {
    font-size: 12px;
    font-weight: bold; }

.foot_cont {
  font-size: 19px;
  padding: 10px 15px;
  background-color: #006099; }

.contacts_foot {
  color: #fff; }
  .contacts_foot a {
    color: #fff;
    transition: color 0.3s ease 0s; }
    .contacts_foot a:hover {
      color: #FFFFBF; }

.foot_block, .foot_block_links {
  margin-bottom: 20px; }
  .foot_block a, .foot_block_links a {
    color: #9BBCCF;
    transition: color 0.3s ease 0s; }
    .foot_block a:hover, .foot_block_links a:hover {
      color: #fff; }

.foot_block_links a {
  display: block;
  margin-bottom: 8px; }

.foot_block_tit {
  font-weight: bold;
  margin: 25px 0 10px 0; }

.copyr {
  padding: 20px 0;
  border-top: 1px #40789a solid; }

h2 {
  color: #0366A6;
  font-size: 50px;
  margin: 20px 0 30px 0; }

h3 {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 50px;
  line-height: normal; }

.note_success {
  color: #449d44;
  margin-top: 10px; }

#scrollUp {
  bottom: 10px;
  left: 20px;
  padding: 20px 20px;
  background: url(img/uparrow.svg) no-repeat;
  color: #fff;
  opacity: 0.5; }
  #scrollUp:hover {
    opacity: 1; }

/* trash */
.box1 {
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
  .box1 li {
    list-style: none;
    padding: 10px 10px; }

.box1_title {
  color: #fff;
  background-color: #385A7A;
  background-image: url(img/box_head.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.box1_table, .table2 {
  display: table;
  color: #2F4052;
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  border-color: #fff; }
  .box1_table ul:nth-child(even), .table2 ul:nth-child(even) {
    background-color: #F2F0EB; }
  .box1_table ul, .table2 ul {
    display: table-row; }
    .box1_table ul li, .table2 ul li {
      display: table-cell;
      list-style: none;
      vertical-align: middle;
      text-align: left; }

.box1_width {
  width: 30%; }

.table2 {
  font-size: 14px; }
  .table2 li {
    border-width: 1px;
    border-color: #c3cace;
    border-style: solid;
    padding: 9px 9px; }

.table2_title li {
  font-weight: bold;
  padding: 15px 10px; }

.note1 {
  font-size: 12px;
  color: #666666;
  margin-top: 3px; }

.note1_red {
  color: #FF543F; }

.note1_suc {
  color: #41992E; }

.note2, .note2_error {
  font-size: 12px;
  margin-top: 2px; }

.note2_error {
  color: #FF543F; }

.box1 input, .box1_selectmenu {
  width: 97%; }

.table_but, .table_but_edit, .table_but_trash {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  left: 0;
  right: 0;
  margin: auto; }
  .table_but:hover, .table_but_edit:hover, .table_but_trash:hover {
    background-size: 75%; }

.table_but_edit {
  background-size: 90%;
  background-image: url(img/table_edit.png); }

.table_but_trash {
  background-image: url(img/table_trash.png); }

.chek, .chek1, .chek2 {
  display: block;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 3px;
  text-align: center; }

.chek1 {
  background-image: url(img/chek1.png); }

.chek2 {
  background-image: url(img/chek2.png); }

.box_cont, .trash_foot {
  padding: 0; }

.qtyall {
  width: 100px; }

.table2 li .qty {
  float: left;
  font-weight: bold;
  width: 35px;
  height: 27px;
  margin: 0px 1px;
  border: 1px #c3cace solid;
  text-align: center; }

.but_qty, .qtyplus, .qtyminus {
  display: inline-block;
  float: left;
  color: #fff;
  background-color: #2D547D;
  width: 27px;
  height: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease 0s; }
  .but_qty:hover, .qtyplus:hover, .qtyminus:hover {
    background-color: #2288C7; }

.qtyplus {
  background-image: url(img/qtyplus.png); }

.qtyminus {
  background-image: url(img/qtyminus.png);
  background-position: top 1px center; }

.trash_foot {
  border-top: 1px #c3cace solid;
  font-size: 16px;
  padding-top: 10px; }

/* /trash */
/* elements */
.btn, .btn_files {
  font-size: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
  width: auto !important; }

.pagination a {
  transition: all 0.3s ease 0s; }

.space_line {
  height: 1px;
  background-color: #b9d6ea; }

/* /elements */
/* in_page */
.in_cont, .in_cont_centr, .block_news {
  font-size: 15px;
  padding: 30px 0 60px 0;
  background-color: #F5F6F7;
  line-height: 25px; }

.in_cont_centr {
  text-align: center; }

.in_left_cont {
  padding-right: 50px; }

.cont_catalog {
  margin: 10px 0; }

p {
  margin: 15px 0; }

.img_products img {
  width: 70%;
  height: auto;
  margin-bottom: 10px; }

.img_products2 img {
  width: 100%;
  height: auto; }

.products_price {
  font-size: 24px;
  color: #4D4D4D; }

.products_ind h3 {
  padding: 50px 30px;
  transition: all 0.3s ease 0s; }
  .products_ind h3:hover {
    color: #fff;
    background-color: #0366A6; }

.prod_catalog_padding {
  position: relative;
  padding: 95px 20px 20px 20px;
  margin: 20px 0;
  border: 1px #c0ddf0 solid; }
  .prod_catalog_padding:hover {
    box-shadow: 0 8px 30px rgba(4, 120, 192, 0.2); }
  .prod_catalog_padding:hover p {
    max-height: 200px;
    transition: max-height 0.5s ease 0s; }
  .prod_catalog_padding h3 {
    position: absolute;
    top: 20px;
    padding: 5px 30px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(245, 246, 247, 0.95); }
  .prod_catalog_padding p {
    position: absolute;
    display: block;
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(245, 246, 247, 0.95); }

.text_catalog {
  display: table;
  width: 100%;
  position: relative;
  padding: 20px;
  margin: 20px 0;
  border: 1px #c0ddf0 solid;
  min-height: 130px; }
  .text_catalog a {
    display: table-cell;
    vertical-align: middle; }
  .text_catalog:hover {
    box-shadow: 0 8px 30px rgba(4, 120, 192, 0.2); }
  .text_catalog h3 {
    font-size: 21px;
    line-height: 27px;
    padding: 0;
    margin: 0; }

.cont_margin1 {
  margin: 0 6% 0 12%; }

.cont_white {
  background-color: #fff;
  padding: 15px 50px; }

.text_whiteback_mar_left {
  margin: 0 0 0 45%; }

.img_whiteback_left {
  background-position: left -80px center;
  background-repeat: no-repeat; }

/* /in_page */
/* page about */
.about_testern1 {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden; }

.about_testern1_img {
  position: absolute;
  top: 10px;
  left: -800px;
  right: 0;
  margin: 0 auto; }

.about_img1 {
  border: 1px solid #fff;
  box-shadow: 0 8px 30px rgba(4, 120, 192, 0.2); }

.about_etsp_img {
  position: absolute;
  width: 35%;
  top: 0;
  right: -700px;
  left: 0;
  margin: 0 auto; }

.about_etsp_text {
  padding-bottom: 60px;
  padding-top: 20px; }

/* page /about */
/* page index */
.ind_block_section, .ind_block_uslugi {
  text-align: center;
  background: linear-gradient(to top, #F5F6F7, #f7faff);
  border-bottom: 1px #b9d6ea solid;
  padding: 40px 0 0 0; }

.ind_block_uslugi {
  background: #f7faff url(img/index/uslugi100.jpg) center top no-repeat; }

.ind_block_uslugi_links {
  text-align: left;
  transition: all 0.3s ease 0s; }
  .ind_block_uslugi_links a {
    display: block;
    color: #0366A6;
    font-size: 24px;
    padding: 40px 0 40px 110px;
    background: rgba(102, 169, 237, 0) url(img/index/ind_uslugi_li.png) 50px no-repeat;
    border-bottom: 1px #b4d2e5 solid;
    transition: all 0.3s ease 0s; }
    .ind_block_uslugi_links a:hover {
      background: rgba(102, 169, 237, 0.1) url(img/index/ind_uslugi_li.png) 55px no-repeat;
      transition: all 0.3s ease 0s; }

.ind_h2 {
  margin-bottom: 50px; }

.ind_pic {
  width: 100%;
  height: 426px;
  background: #F5FCFF;
  background-image: url(img/ind_pic.png), linear-gradient(to top, #ffffff, #EBF8FF);
  background-repeat: no-repeat;
  background-position: center bottom;
  border-bottom: 1px #b9d6ea solid; }
  .ind_pic .container {
    position: relative; }

.ind_pic_text {
  position: absolute;
  right: 9%;
  top: 60px;
  color: #0478C3;
  font-size: 36px; }

.index_new {
  position: absolute;
  top: 230px;
  right: 45px;
  text-align: right;
  width: 49%; }

.index_news_text {
  position: relative;
  width: 50%;
  display: inline-block;
  text-align: center; }
  .index_news_text:before {
    content: "";
    left: -42px;
    bottom: -10px;
    background: url(img/index/que1.png) center no-repeat; }
  .index_news_text:after {
    content: "";
    right: -35px;
    top: -10px;
    background: url(img/index/que2.png) center no-repeat; }

.index_news_quotes, .index_news_text:before, .index_news_text:after {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 50px;
  color: #3B8EC3; }

.ind_block {
  position: relative;
  margin: 10px 20px 40px 20px;
  min-height: 220px; }
  .ind_block img {
    width: 150px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s; }
  .ind_block .ind_block_act {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
    opacity: 0; }
  .ind_block:hover .ind_block_act {
    opacity: 1;
    transition: all 0.3s ease 0s; }
  .ind_block a {
    color: #4D4D4D; }
    .ind_block a:hover {
      color: #2185C5; }

.block_news1 {
  position: relative;
  margin: 0 5px;
  font-size: 12px; }
  .block_news1 span {
    position: absolute;
    font-size: 11px;
    background-color: #2288C7;
    padding: 0 8px;
    margin: 0;
    color: #fff;
    border-radius: 2px;
    line-height: 20px; }

.news_cont {
  display: block;
  width: 100%;
  height: auto;
  min-height: 135px;
  padding: 0;
  margin: 0;
  border: 1px #b9d6ea solid; }
  .news_cont p {
    margin: 20px 0 0 0;
    padding: 5px 8px;
    line-height: 17px; }

.ind_block_oborud {
  position: relative;
  color: #2188C8;
  display: block;
  width: 390px;
  min-height: 250px;
  background: top center no-repeat;
  background-size: 390px;
  border: 1px #F0F1F2 solid;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 50px; }
  .ind_block_oborud p {
    display: block;
    background: url(img/index/ind_oborud1_shad.png) top center no-repeat;
    margin-top: 200px;
    padding: 37px 0 0 0;
    font-size: 18px; }
  .ind_block_oborud:hover {
    color: #4db8e5; }
  .ind_block_oborud:hover .ind_block_oborud_a {
    opacity: 1;
    transition: all 0.3s ease 0s; }

.ind_block_oborud_a {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s ease 0s;
  width: 390px; }

/* /page index */
/* page blank order */
.blank_radiobut_top {
  color: #fff;
  background-color: #0078C3;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 10px; }

.blank_radiobut, .blank_chek[type="radio"]:checked ~ .blank_radiobut, .blank_chek[type="checkbox"]:checked ~ .blank_radiobut {
  display: table;
  font-size: 18px;
  padding: 0 20px 0 20px;
  border: 1px #B5B5B5 solid;
  height: 115px;
  width: 100%;
  margin: 5px 0;
  font-weight: 100; }
  .blank_radiobut:hover, .blank_chek[type="radio"]:checked ~ .blank_radiobut:hover, .blank_chek[type="checkbox"]:checked ~ .blank_radiobut:hover {
    border: 5px #0078C3 solid; }
  .blank_radiobut span, .blank_chek[type="radio"]:checked ~ .blank_radiobut span, .blank_chek[type="checkbox"]:checked ~ .blank_radiobut span {
    display: table-cell;
    vertical-align: middle; }

.blank_num {
  display: none;
  font-size: 24px;
  margin: 15px 0;
  color: #000; }
  .blank_num input {
    width: 100px;
    border-radius: 3px;
    border: 2px #cccccc solid;
    font-size: 26px;
    padding: 3px; }

.blank_num_form {
  font-size: 24px;
  color: #000; }
  .blank_num_form input {
    width: 100px;
    border-radius: 3px;
    border: 2px #cccccc solid;
    font-size: 26px;
    padding: 3px; }

.blank_chek {
  display: none; }

.blank_chek[type="radio"]:checked ~ .blank_radiobut, .blank_chek[type="radio"]:checked ~ .blank_chek[type="checkbox"]:checked ~ .blank_radiobut, .blank_chek[type="checkbox"]:checked ~ .blank_chek[type="radio"]:checked ~ .blank_radiobut {
  border: 5px #0078C3 solid;
  background: url(img/pages_images/ridiobut_act.png) 12px 15px no-repeat;
  padding: 0 20px 0 90px;
  font-weight: bold; }

.blank_chek[type="checkbox"]:checked ~ .blank_chek[type="radio"]:checked ~ .blank_radiobut, .blank_chek[type="radio"]:checked ~ .blank_chek[type="checkbox"]:checked ~ .blank_radiobut, .blank_chek[type="checkbox"]:checked ~ .blank_radiobut {
  border: 5px #0078C3 solid;
  background: url(img/pages_images/ridiobut_act.png) 12px 15px no-repeat;
  padding: 0 20px 0 90px;
  font-weight: bold; }

.blank_chek[type="checkbox"]:checked ~ .blank_num {
  display: block; }

.blank_table, .table_files {
  display: table;
  width: 100%; }
  .blank_table ul, .table_files ul {
    display: table-row; }
  .blank_table li, .table_files li {
    display: table-cell;
    padding: 10px 20px;
    background: linear-gradient(to top, #F5F6F7, #FAFBFC);
    border-top: 1px #dce9f2 solid;
    text-align: left;
    vertical-align: middle; }
  .blank_table input, .table_files input {
    width: 100%;
    font-size: 17px; }

.blank_table_left {
  width: 25%; }

.blank_table_note {
  font-size: 10px;
  color: #808080;
  line-height: normal;
  margin-top: 3px; }

/* /page blank order */
/* page uslugi */
.uslugi a {
  display: block;
  margin-bottom: 15px; }

/* /page uslugi */
/* files */
.files_cell_align {
  text-align: right;
  min-width: 195px; }

.btn_files {
  display: inline-block;
  padding: 7px 9px;
  margin: 1px 2px;
  font-size: 16px;
  border-radius: 5px; }

.table_files li {
  vertical-align: middle;
  padding: 5px 10px; }
.table_files .table_files_titile {
  color: #fff;
  font-weight: bold;
  background-color: #0078C3;
  background: linear-gradient(to top, #0078C3, #0078C3); }

.files_cell1 {
  width: 1px; }

/* /files */
/* page news */
.news1 {
  display: block;
  color: #0366A6;
  border-bottom: 1px #c8dcea solid;
  padding: 25px 20px; }
  .news1 span {
    font-size: 11px;
    background-color: #2288C7;
    padding: 2px 8px;
    color: #fff;
    border-radius: 2px; }
  .news1 p {
    display: block;
    margin: 3px 0;
    font-size: 24px; }

/* /page news */
/* page contacts */
.contacts_map {
  position: relative;
  border-top: 1px #c8dcea solid;
  border-bottom: 1px #c8dcea solid;
  margin-top: 30px;
  margin-bottom: 10px; }

.contacts_map_links {
  bottom: 0; }
  .contacts_map_links a {
    display: inline-block;
    padding: 0;
    margin: 10px 10px;
    border-bottom: 1px #2185C5 dashed; }
  .contacts_map_links .link_act1 {
    color: #A3A3A3;
    border-bottom: none; }

/* /page contacts */
/* alcospot_egais */
.icon1 {
  float: right;
  margin: 0 0 5px 30px;
  width: 201px;
  height: 206px;
  background-image: url(img/pages_images/icon1.png); }

.new_form {
  border-style: solid;
  border-color: #1874C1;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 20px rgba(40, 97, 150, 0.2);
  -webkit-box-shadow: 0 0 20px rgba(40, 97, 150, 0.2); }

.new_but input {
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  margin-left: 0; }

/* /alcospot_egais */
@media (max-width: 1200px) {
  .logo {
    width: 325px;
    left: 0; }

  nav {
    width: 970px;
    top: 47px; }
    nav a {
      padding: 10px 14px 10px 14px;
      margin: 10px 0 0 0;
      font-size: 15px; }

  .menu_item {
    background-position: right 0 top 16px; }

  .about_etsp_img {
    width: 35%;
    top: 35px;
    right: -600px;
    left: 0;
    margin: 0 auto; }

  .ind_pic_text {
    position: absolute;
    right: 4%;
    top: 60px;
    color: #0478C3;
    font-size: 36px; }

  .img_whiteback_left {
    background-position: left -150px center; }

  .cont_margin1 {
    margin: 0 6% 0 13%; } }
@media (max-width: 992px) {
  .head {
    padding-bottom: 65px;
    height: 190px; }

  .logo {
    width: 250px;
    position: relative; }

  .head_line {
    display: none; }

  .login {
    margin-right: 15px; }

  nav {
    text-align: center;
    width: 100%;
    top: 125px; }
    nav a {
      padding: 10px 20px; }

  .menu_item {
    background: none; }
    .menu_item:hover {
      padding-bottom: 0; }

  .submenu_item:hover > .submenu {
    display: none; }

  .navtree {
    display: none; }

  .in_left_cont {
    padding-right: 0; }

  .foot_block, .foot_block_links {
    text-align: center; }

  h2 {
    font-size: 30px; }

  .about_testern1_text {
    margin: 0 0 0 0; }

  .about_testern1_img {
    display: none; }

  .about_etsp_img {
    display: none; }

  .about_etsp_text {
    padding-bottom: 0;
    padding-top: 0; }

  .ind_pic_text {
    position: absolute;
    right: 0;
    top: 60px;
    color: #0478C3;
    font-size: 33px; }

  .index_new {
    display: none; }

  .text_whiteback_mar_left {
    margin: 0 0 0 0; }

  .img_whiteback_left {
    background-position: left -1000px center; }

  .cont_margin1 {
    margin: 0 0 0 0; } }
@media (max-width: 768px) {
  .head_line {
    display: block;
    left: 0;
    width: 100%; }

  .head_cont {
    top: -1px; }

  .head {
    padding-bottom: 0;
    height: 100px;
    border-bottom: 1px #fff solid; }

  .logo {
    position: absolute;
    display: block;
    width: 143px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 99; }

  .head_cont {
    height: 48px; }

  .contacts_up {
    display: none; }

  nav {
    top: 50px;
    background-color: #fff;
    padding: 10px 0;
    overflow: hidden;
    transition: max-height 0.3s ease 0s;
    border-bottom: 1px #c0ddf0 solid; }
    nav a {
      padding: 2px;
      margin: 3px 6px;
      font-size: 14px; }

  .adapt_but {
    position: absolute;
    display: block;
    width: 43px;
    height: 43px;
    top: 2px;
    left: 6px;
    background: url(img/adapt_but.png) top left no-repeat;
    background-size: contain;
    border-radius: 5px;
    z-index: 3; }
    .adapt_but:hover {
      background-color: #4db8e5;
      cursor: pointer; }

  .adapt_but_label {
    position: absolute;
    display: block;
    width: 43px;
    height: 43px;
    top: 0;
    left: 6px;
    z-index: 1; }

  .adapt_but_chek[type="checkbox"]:checked ~ nav {
    top: 48px;
    max-height: 500px;
    transition: max-height 0.5s ease 0s; }

  .adapt_but_chek[type="checkbox"]:checked ~ .all_cont {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    z-index: 0; }

  .adapt_but_chek[type="checkbox"]:checked ~ .adapt_but_label {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 120, 201, 0.7); }

  .adapt_but_chek {
    display: none; }

  .navtree {
    display: none; }

  .ind_pic {
    display: none; }

  .ind_block_oborud {
    width: 100%; }

  .files_cell_align {
    text-align: right;
    min-width: 0; }

  .prod_catalog_padding h3 {
    font-size: 18px;
    margin: 0 0;
    padding: 0 10px; } }
@media (max-width: 350px) {
  nav {
    padding: 2px 0; } }
/* sourceMappingURL=style.css.map */
.custom-btn-bootstrap {
  background-color: #006399 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 #005380;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased; }

/*# sourceMappingURL=style.css.map */
